body {
    font-size:140%;
} 

#main {
    display: table; 
    margin: auto;  
    padding: 0 10px 0 10px; 
} 

h2 {
    text-align:center; 
} 

.button { 
    padding:10px 10px 10px 10px; 
    width:100%;  
    background-color: #50FF50; 
    font-size: 120%;
}